* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: #d9d6e6;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  /* padding: 0; */
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

body {
  font-family: Arial, sans-serif;
}

section {
  background-image: url('/travelrecommendation/travel-concept-with-landmarks.jpg');
  width: 100vw;
  height: 100vh;
}

h1 {
  margin-bottom: 20px;
}

div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 100px;
}

input[type='text'],
button {
  padding: 7px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#btnClear {
  background-color: rgb(185, 37, 37);
}

#btnClear:hover {
  background-color: rgb(160, 26, 9);
}
